[Desktop Entry]

Type=Application

Name=Capture

Icon=/home/user/capture-ui/build-test-Desktop-Release/logo.ico

Exec=/home/user/capture-ui/build-test-Desktop-Release/Capture

Terminal=false

Categories=Development
